* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gerais - corpo */
body {
    font-family: 'Lucida Sans', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f5f5f5;
    color: black;
}

/* cabeçalho e navegação */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* principal */
main {
    margin-top: 20px;
}

/* rodapé */
footer {
    background: #272727;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 98%;
    position: absolute;
    bottom: 0;
}

/* formulário de contato */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px
